<html lang="en" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	<!-- Angular App and controllers-->
	<script src="app.js"></script>
	<script src="GitHubUsersAutocomplete.js"></script>

	<!-- Style -->
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="animations.css">
</head>
<body ng-app="app" ng-cloak>

<main>
<div ng-controller="GitHubUsersAutocomplete as ctrl" layout="column" ng-cloak>


	<md-content layout-padding layout="column">
		<md-chips ng-model="ctrl.selectedLanguages" md-autocomplete-snap
			md-transform-chip="ctrl.transformLanguageChip($chip)"
			title="Write and press Enter to add"
			md-require-match="false">
			<md-autocomplete
					md-selected-item="ctrl.selectedLanguage"
					md-search-text="ctrl.searchLanguageText"
					md-items="item in ctrl.queryLanguage(ctrl.searchLanguageText)"
					md-item-text="item"
					placeholder="Enter languages">
				<span md-highlight-text="ctrl.searchLanguageText">{{item}}</span>
			</md-autocomplete>
			<md-chip-template>
				<span>{{$chip}}</span>
			</md-chip-template>
		</md-chips>

		<md-chips
			ng-model="ctrl.goodFilters"
			md-enable-chip-edit="true"
			readonly="false"
			md-removable="true"
			placeholder="Enter good filter"
			delete-button-label="Remove filter"
			secondary-placeholder="+ Good Filter"
			title="Write and press Enter to add"
			delete-hint="Press delete to remove tag">
		</md-chips>
		<md-chips
			ng-model="ctrl.badFilters"
			md-enable-chip-edit="true"
			readonly="false"
			md-removable="true"
			placeholder="Enter bad filter"
			delete-button-label="Remove filter"
			secondary-placeholder="+ Bad Filter"
			title="Write and press Enter to add"
			delete-hint="Press delete to remove tag">
		</md-chips>
	</md-content>


	<md-content layout-padding layout="column">
		<form ng-submit="ctrl.submit($event)" name="usernameForm">
			<md-autocomplete
					ng-disabled="ctrl.isDisabled"
					md-no-cache="ctrl.noCache"
					md-delay="ctrl.delay"
					md-selected-item="ctrl.selectedItem"
					md-search-text="ctrl.searchText"
					md-items="item in ctrl.querySearch(ctrl.searchText)"
					md-item-text="item.login"
					md-min-length="4"
					md-floating-label="GitHub username"
					md-menu-class="autocomplete-custom-template"
					md-match-case-insensitive="true"
					ng-trim="false"
					required flex>
				<md-item-template>
					<div class="avatar" ng-style="{'background-image' : 'url(\'' + item.avatar_url + '\')'}"></div>
					<div class="username">{{item.login}}</div>
				</md-item-template>
				<md-not-found>
					No users found.
				</md-not-found>
			</md-autocomplete>
			<div class="container" ng-class="{'visible' : ctrl.loading}"  layout-align="center center">
				<md-progress-linear md-mode="indeterminate" ng-disabled="!ctrl.loading"></md-progress-linear>
			</div>
			<div layout="column" layout-align="center end">
				<md-button type="submit" class="md-primary md-raised" ng-disabled="usernameForm.$invalid || ctrl.loading">Rank</md-button>
			</div>
		</form>
	</md-content>
	<md-content>
		<md-card md-theme-watch ng-repeat="item in ctrl.resultUsers | orderBy: 'rank':true">
			<div ng-class="{'not-hireable' : item.details.hireable != true}">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">
						<span class="rank">{{item.rank.rank ? item.rank.rank.toFixed(2) : '-'}}</span>
						<span class="name" ng-attr-title="{{item.details.hireable != true ? 'Not for hire' : 'For hire!'}}">
							{{item.details.name ? item.details.name : item.rank.user}}
						</span>
						<span class="login">
							<a href="https://github.com/{{item.rank.user}}" target="_blank">{{item.rank.user}}</a>
						</span>
					</span>
					<span class="md-subhead">
						<span>{{item.details.bio}}</span>
					</span>
				</md-card-title-text>
				<md-card-title-media>
					<div class="md-media-sm card-media">
						<div class="avatar" ng-style="{'background-image' : 'url(\'' + item.details.avatarurl + '\')'}"></div>
					</div>
				</md-card-title-media>
			</md-card-title>
			<md-card-content>
				{{item}}
			</md-card-content>
			<md-card-actions layout="row" layout-align="end center">
				<md-button ng-href="mailto:{{item.details.email}}"
					ng-show="item.details.email != ''"
					target="_blank" class="email">{{item.details.email}}</md-button>
				<md-button ng-click="ctrl.removeUser(item)">Dismiss</md-button>
			</md-card-actions>
			</div>
		</md-card>
	</md-content>

</div>
</main>

</body>
</html>
