<html lang="en" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Angular Material style sheet -->
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

	<!-- Angular Material requires Angular.js Libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

	<!-- Angular App and controllers-->
	<script src="app.js"></script>
	<script src="GitHubUsersAutocomplete.js"></script>

	<!-- Style -->
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="animations.css">
</head>
<body ng-app="app" ng-cloak>

<header>
	<md-toolbar>
		<h2 class="md-toolbar-tools">
			<span class="md-flex">LMRJ GitHub User Classifier</span>
		</h2>
	</md-toolbar>
</header>



<main>
<div ng-controller="GitHubUsersAutocomplete as ctrl" layout="column" ng-cloak>


	<md-content layout-padding layout="column">
		<md-chips ng-model="ctrl.selectedLanguages" md-autocomplete-snap
			md-transform-chip="ctrl.transformLanguageChip($chip)"
			title="Write and press Enter to add"
			md-require-match="false">
			<md-autocomplete
					md-selected-item="ctrl.selectedLanguage"
					md-search-text="ctrl.searchLanguageText"
					md-items="item in ctrl.queryLanguage(ctrl.searchLanguageText)"
					md-item-text="item"
					placeholder="Enter languages">
				<span md-highlight-text="ctrl.searchLanguageText">{{item}}</span>
			</md-autocomplete>
			<md-chip-template>
				<span>{{$chip}}</span>
			</md-chip-template>
		</md-chips>


		<md-slider-container>
			<span>Filter Weight</span>
			<md-slider flex min="-10" max="10" ng-model="ctrl.currentWeight" aria-label="Weight" id="weight-slider">
			</md-slider>
			<md-input-container>
			<input flex type="number" ng-model="ctrl.currentWeight" aria-label="Weight" aria-controls="weight-slider">
			</md-input-container>
		</md-slider-container>
		<div id="my-filters">
		<md-chips
			ng-model="ctrl.filters"
			md-enable-chip-edit="false"
			readonly="false"
			md-removable="true"
			md-transform-chip="ctrl.transformFilterChip($chip)"
			placeholder="Enter filter"
			delete-button-label="Remove filter"
			secondary-placeholder="+ Filter"
			title="Write and press Enter to add"
			delete-hint="Press delete to remove filter">
			<md-chip-template ng-class="$chip.class">
				<span class="filter">{{$chip.filter}}</span>
				<span class="weight" title="Weight">{{$chip.weight}}</span>
			</md-chip-template>
		</md-chips>
		</div>
	</md-content>


	<md-content layout-padding layout="column">
		<form ng-submit="ctrl.submit($event)" name="usernameForm">
			<md-autocomplete
					ng-disabled="ctrl.isDisabled"
					md-no-cache="ctrl.noCache"
					md-delay="ctrl.delay"
					md-selected-item="ctrl.selectedItem"
					md-search-text="ctrl.searchText"
					md-items="item in ctrl.querySearch(ctrl.searchText)"
					md-item-text="item.login"
					md-min-length="4"
					md-floating-label="GitHub username"
					md-menu-class="autocomplete-custom-template"
					md-match-case-insensitive="true"
					ng-trim="false"
					required flex>
				<md-item-template>
					<div class="avatar" ng-style="{'background-image' : 'url(\'' + item.avatar_url + '\')'}"></div>
					<div class="username">{{item.login}}</div>
				</md-item-template>
				<md-not-found>
					No users found.
				</md-not-found>
			</md-autocomplete>
			<div class="container" ng-class="{'visible' : ctrl.loading}"  layout-align="center center">
				<md-progress-linear md-mode="indeterminate" ng-disabled="!ctrl.loading"></md-progress-linear>
			</div>
			<div layout="column" layout-align="center end">
				<md-button type="submit" class="md-primary md-raised" ng-disabled="usernameForm.$invalid || ctrl.loading || ctrl.filters.length == 0">Rank</md-button>
			</div>
		</form>
	</md-content>
	<md-content>
		<md-card md-theme-watch ng-repeat="item in ctrl.resultUsers | orderBy: 'rank':true">
			<div ng-class="{'not-hireable' : item.details.hireable != true}">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">
						<span class="rank">{{item.rank.rank ? item.rank.rank.toFixed(2) : '-'}}</span>
						<span class="name" ng-attr-title="{{item.details.hireable != true ? 'Not for hire' : 'For hire!'}}">
							{{item.details.name ? item.details.name : item.rank.user}}
						</span>
						<span class="login">
							<a href="https://github.com/{{item.rank.user}}" target="_blank">{{item.rank.user}}</a>
						</span>
					</span>
					<span class="md-subhead">
						<span>{{item.details.bio}}</span>
					</span>
				</md-card-title-text>
				<md-card-title-media>
					<div class="md-media-sm card-media">
						<div class="avatar" ng-style="{'background-image' : 'url(\'' + item.details.avatarurl + '\')'}"></div>
					</div>
				</md-card-title-media>
			</md-card-title>
			<md-card-content>
			</md-card-content>
			<md-card-actions layout="row" layout-align="none center">
				<div flex>Repo count: <span>{{item.rank['repo-count']}}</span></div>
				<div flex>Wikis: <span title="enabled wikis">{{item.rank['repos-with']['wiki-enabled']}}</span></div>
				<div flex>Analized Commits: <span>{{item.rank['processed-commits']}}</span></div>
				<div layout-align="end center">
				<md-button ng-href="mailto:{{item.details.email}}"
					ng-show="item.details.email != ''"
					target="_blank" class="email">{{item.details.email}}</md-button>
				<md-button ng-click="ctrl.removeUser(item)">Dismiss</md-button>
				</div>
			</md-card-actions>
			</div>
		</md-card>
	</md-content>

</div>
</main>


<footer>
	<md-toolbar class="md-scroll-shrink">
		<div layout="row" layout-align="center center" flex>
			<p class="md-label">&copy; 2017
				<a href="https://github.com/luismrsilva">@luismrsilva</a>
				<a href="https://github.com/Gisson">@Gisson</a>
				<a href="https://github.com/rodrigorato">@rodrigorato</a>
				<a href="https://github.com/nuno-silva">@nuno-silva</a>
			</p>
		</div>
	</md-toolbar>
</footer>



</body>
</html>
