body {
	font-family: sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


.md-autocomplete-suggestions li {
	height: 30px;
	line-height: 30px;
}

.md-autocomplete-suggestions li div {
	float: left;
}

.md-autocomplete-suggestions li username {
	vertical-align: middle;
	line-height: 30px;
}

.md-autocomplete-suggestions .avatar {
	width: 24px;
	height: 24px;
	margin: 3px 6px 3px 0;
    background-size: 24px 24px;
    background-repeat: no-repeat;
}

.md-toast-error .md-toast-content{
	background: #B71C1C !important;
	color: white !important;
}

md-card .avatar {
	width: 80px;
	height: 80px;
    background-size: 80px;
    background-repeat: no-repeat;
}

md-card .rank {
	font-weight: bold;
}

md-card .name {
}

md-card .login {
	color: rgba(255,255,255,0.7);
	font-size: 14px;
}

md-card .login a {
	color: inherit;
}

md-card .login::before {
	content: "@";
}

@media (min-width: 1024px) {
	main {
		max-width: 960px;
		margin: auto;
	}
}

.not-hireable {
	opacity: 0.5;
}

.not-hireable .name {
	text-decoration: line-through;
}


#my-filters .filter {
	font-weight: bold;
}
#my-filters .weight::before {
	content: '(';
}
#my-filters .weight::after {
	content: ')';
}
